.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="header-menu.html") Меню 1 уровня
				li
					a(href="header-submenu.html") Меню 2 уровня
				li
					a(href="gallery.html") Галерея картинок