.h3{
	text-align: center;
	margin-bottom: 40px;
	font-weight: 700;
}
.card-list-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	align-items: flex-start;
	width: 830px;
	margin-left: auto;
	margin-right: auto;
}
.card-list{
	padding: 50px;
	max-width: 400px;
	border-radius: 15px;
	background-color: #dedede;
	&__title{
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 40px;
		&:empty{display: none;}
	}
	&__content{
		li{
			font-size: 20px;
			position: relative;
			padding-left: 30px;
			display: block;
			padding-top: 7px;
			padding-bottom: 7px;
			&:before{
				content: '\270E';
				color: red;
				position: absolute;
				left: 0;
				top:5px;
				font-size: 16px;
			}
			
		}
		
	}
}
.card-list+.card-list{margin-top: 30px;	}